body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

button {
  background-color: azure;
  border: 2px solid rgb(221, 236, 236);
  border-radius: 8px;
  color: rgb(109, 156, 156);
  padding: 4px;
  font-size: 24px;
  margin-left: 1%;
  margin-top: 3%;
}

input {
  background-color: azure;
  text-align: center;
}

button:hover {
  background-color: rgb(212, 226, 226);
}

main {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--spacing) * 6);
  padding: 8;
  height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.code-section {
  display: flex;
  flex: 1;
  column-gap: calc(var(--spacing) * 6);
  row-gap: 4;
  overflow: hidden;
}

#code {
  background-color: rgb(212 212 212);
  border-radius: 0.25rem;
  width: 80%;
}

.registers {
  display: flex;
  flex-direction: column; 
  width: calc(var(--spacing) * 32);
  row-gap: calc(var(--spacing) * 4);
  height: 100%;
}

.registers-title {
  font-size: 1.25rem;
  color: #6D9C9C;
  text-align: center;
}

.registers-container {
  display: flex;
  flex-direction: column;
  row-gap: 2;
  overflow-y: auto;
  flex: 1;
}
