body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

button {
  background-color: azure;
  border: 2px solid rgb(221, 236, 236);
  border-radius: 8px;
  color: rgb(109, 156, 156);
  padding: 12px;
  font-size: 24px;
  cursor: pointer;

  transition-property: color, background-color, border-color, outline-color, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

button:hover {
  background-color: rgb(212, 226, 226);
}